<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Disskort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Disskort.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>6666</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>40.114.30.164</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="WithVersionCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </Disskort.Properties.Settings>
    </applicationSettings>
</configuration>